
body {
    background-color: #ffffff;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar {
  border-color: #ffffff;
  border-width: 1.5px;
  font-size: 22px;
  background-color: #2a3439;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2a3439;
}


li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: #2a3439;
}

li.dropdown {
  display: inline-block;
  overflow: visible;
}

.dropdown-content {
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #2a3439;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #2a3439;
  color: #ffffff;
  }

.dropdown:hover .dropdown-content {
  display: block;
}

#leftPlot {
  height: 100%;
  width: 100%;
}

#rightPlot {
  float: right;
  height: 110%;
  width: 110%;
}

#homeButtonPadding {
  padding-right: 30px;
  padding-left: 30px;
}

#columnParams {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 100px;
}

h3 {
  text-align: center;
}

.plotBackgrounds {
  background-color: #ffffff;
}

.floatRight {
  float: right;
}

#rowBorder {
  border-style: solid;
  border-width: .5px;
  border-color: #2a3439;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  text-align: center;
}

#tableBackground {
  background-color: #ffffff;
}